Repository medhatelmasry/ASPect, pull requests merged in 2021-04, with the labels that each got.

#81 Create Student Signup Page
  ReactClient/ClientApp/src/App.js
  ReactClient/ClientApp/src/components/Counter.js
  ReactClient/ClientApp/src/components/Dashboard.js
  ReactClient/ClientApp/src/components/FetchData.js
  ReactClient/ClientApp/src/components/Layout.js
  ReactClient/ClientApp/src/components/NavMenu.js
  ReactClient/ClientApp/src/components/Signup.js
Labels: react

#96 Issue#94-Assignment controller and model
  ASPectLibrary/Assignment.cs
  ASPectLibrary/ProjectRequirement.cs
  Web/Controllers/AssignmentController.cs
  Web/Controllers/ProgressRequirementController.cs
  Web/Data/ApplicationDbContext.cs
  Web/Data/Migrations/20210408191248_m1.Designer.cs
  Web/Data/Migrations/20210408191248_m1.cs
  Web/Data/Migrations/ApplicationDbContextModelSnapshot.cs
Labels: backend

#99 Connect Student Sign Up View with Database
  ReactClient/ClientApp/package-lock.json
  ReactClient/ClientApp/package.json
  ReactClient/ClientApp/src/App.js
  ReactClient/ClientApp/src/Views/CreateProject.js
  ReactClient/ClientApp/src/Views/Dashboard.js
  ReactClient/ClientApp/src/Views/EditStudentInfo.js
  ReactClient/ClientApp/src/Views/ForgotPassword.js
  ReactClient/ClientApp/src/Views/Home.js
  ReactClient/ClientApp/src/Views/Login.js
  ReactClient/ClientApp/src/Views/PeerEvaluation.js
  ReactClient/ClientApp/src/Views/ProjectStatus.js
  ReactClient/ClientApp/src/Views/Signup.js
  ReactClient/ClientApp/src/components/Dashboard.js
  ReactClient/ClientApp/src/components/FormContainer.js
  ReactClient/ClientApp/src/components/Home.js
  ReactClient/ClientApp/src/components/NavMenu.css
  ReactClient/ClientApp/src/components/NavMenu.js
  ReactClient/ClientApp/src/components/Signup.js
  ReactClient/ClientApp/src/components/TextInputLiveFeedback.js
  ReactClient/ClientApp/src/util/regex.js
  Web/ASPect.db-shm
  Web/ASPect.db-wal
Labels: react

#101 Connect Student Edit Student Info View with Database
  ReactClient/ClientApp/src/Views/CreateProject.js
  ReactClient/ClientApp/src/Views/EditStudentInfo.js
  ReactClient/ClientApp/src/Views/Home.js
  ReactClient/ClientApp/src/Views/ProjectStatus.js
  ReactClient/ClientApp/src/Views/Signup.js
  ReactClient/ClientApp/src/components/CourseList.js
  ReactClient/ClientApp/src/components/NavMenu.js
Labels: react

#103 Add Authentication features to Student Portal
  ReactClient/ClientApp/package.json
  ReactClient/ClientApp/src/App.js
  ReactClient/ClientApp/src/Views/CreateProject.js
  ReactClient/ClientApp/src/Views/Dashboard.js
  ReactClient/ClientApp/src/Views/EditStudentInfo.js
  ReactClient/ClientApp/src/Views/Home.js
  ReactClient/ClientApp/src/Views/Login.js
  ReactClient/ClientApp/src/Views/PeerEvaluation.js
  ReactClient/ClientApp/src/Views/ProjectStatus.js
  ReactClient/ClientApp/src/Views/Signup.js
  ReactClient/ClientApp/src/components/NavMenu.css
  ReactClient/ClientApp/src/components/NavMenu.js
  ReactClient/ClientApp/yarn.lock
  Web/Controllers/AuthController.cs
Labels: react

#108 Bug fixes and ViewControllers
  Web/Controllers/ProjectCategoriesController.cs
  Web/Controllers/Views/HomeController.cs
  Web/Controllers/Views/ProjectCategoriesController.cs
  Web/Controllers/Views/RoleManagementController.cs
  Web/Controllers/Views/UserManagementController.cs
  Web/Data/ApplicationDbContext.cs
  Web/Data/Migrations/20210413024131_M1.Designer.cs
  Web/Data/Migrations/20210413024131_M1.cs
  Web/Data/Migrations/ApplicationDbContextModelSnapshot.cs
Labels: backend

#110 localhost6000/teams has a dropdown list where GET call made for all Courses
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  BlazorClient/.vscode/launch.json
  BlazorClient/Pages/ViewTeams.razor
  BlazorClient/Properties/launchSettings.json
Labels: blazor

#113 Admin Panel Bug Fixes
  Web/Controllers/Views/UserManagementController.cs
  Web/Data/ApplicationDbContext.cs
  Web/Data/Migrations/20210414020833_M1.Designer.cs
  Web/Data/Migrations/20210414020833_M1.cs
  Web/Data/Migrations/ApplicationDbContextModelSnapshot.cs
  Web/Models/Constants/Constants.cs
Labels: backend

#117 Create READEME documentation for the project
  readme.md
Labels: QA/Documentation
